@font-face {
    font-family: Norse;
    src: url("Norse-Bold.otf") format("opentype");
}

:root{
    --left-padding: 80px
}

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(248, 248, 248);
}

.container{
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.photo-container{
    width: 35vw;
    min-height: 100vh;
    background-image: url("img/plant.avif");
}

.logo-container{
    margin-top: 20vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: rgba(34, 34, 34, 0.7);
}

img{
    display: inline;
    margin: 40px 0px;
    padding: 0px;
    height: 280px;
}

.logo-container h1{
    display:inline;
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 200px;
    font-family: Norse;
}

.form-container{
    width: 65vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cta{
    padding-left: var(--left-padding);
    width: 1100px;
}

h3, .cta{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 34px;
}

form{
    background-color: white;
    padding-left: var(--left-padding);
}

.input-section{
    display: flex;
    gap: 60px;
}

label {
    display: block;
    color: rgb(49, 49, 49);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
}

input{
    border: 2px solid rgb(155, 155, 155) ;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px 8px;
    margin-bottom: 16px;
    width: 320px;
}

input:invalid{
    border: 2px solid rgb(224, 0, 0);
}

input:focus{
    outline-color: rgb(32, 32, 187);
}